---
layout: archive
title: "Expository Notes"
permalink: /notes/
author_profile: true
---

This is sort of a dumping ground for some of the expository math notes I've written over the years (many from early parts of grad school). Read at your own risk for there are likely to be mistakes.

<h2>Geometry</h2>

<ul>
<li><p><a href="/files/Poincare_Hopf.pdf">Note</a> on the Poincaré-Hopf theorem via Morse theory.</p></li>
<li><p><a href="/files/simple_index_theorem.pdf">Note</a> on the simplest example of the Atiyah-Singer Index Theorem I know: $d+d^*$ and the Euler characteristic of genus-$g$ Riemann surfaces.</p></li>
<li><p><a href="/files/Atiyah_low_dim_invariants.pdf">Note</a> Atiyah's "New Invariants of 3- and 4-Dimensional Manifolds." The original paper is brilliant and outlines some relationships between Floer theory and gauge theory, topology and geometry. You really should read that first.</p></li>
<li>Email me for a note on Witten's "Supersymmetry and Morse Theory" paper.</li>
<li><p><a href="/files/Jones_Polynomial.pdf">Note</a> from a talk on the Jones Polynomial, by Witten.</p></li>
<li><p><a href="/files/Milnor_fibration.pdf">Note</a> on Milnor fibrations and Picard-Lefschetz theory.</p></li>
<li>Very brief <p><a href="/files/virtual_techniques.pdf">note</a> on why virtual fundamental cycles appear in symplectic topology.</p></li>
<li>Very brief <p><a href="/files/K3.pdf">note</a> on complex K3 surfaces.</p></li>
<li><p><a href="/files/CP^n.pdf">Note</a> on 1st Chern class of $\mathbb{CP}^n$ and relative homotopy.</p></li>
<li><p><a href="/files/liouville_domains.pdf">Note</a> on basic contact geometry, Boothby-Wang bundles, Liouville domains, symplectic (co)homology, and wrapped Lagrangian Floer homology.</p></li>
</ul>

<h2>Physics</h2>

<ul>
<li>Note on symplectic geometry and it's relationship to classical mechanics.</li>
<li>Note which compares classical and quantum mechanics from a rather mathematical viewpoint.</li>
<li>Note on my very basic impression of quantum field theory.</li>
<li>Note on classical field theory, based on my reading of notes by Charles Torre.</li>
<li>Notes from a talk on light rays and black holes by Witten: Part 1 and Part 2.</li>
</ul>
 
<h2>Random Notes</h2>

<ul>
<li>Notes from a first semester graduate course on real analysis I took. The examples for different modes of convergence are rather useful.</li>
<li>Finite fields: notes from an abstract algebra class I taught.</li>
<li>Irrationality of pi via Niven.</li>
<li>Short proof that the harmonic series diverges.</li>
<li>Some things I learned from the YouTube channel 3blue1brown.</li>
</ul>
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
