---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

<h2>Invited Talks</h2>

 <p>Open a PDF file <a href="/files/paper1.pdf">example</a>.</p>


<ul>
<li>Adjacent Singularities, Multiplicity, and Fixed-Point Floer Cohomology, University of Iowa Geometry and Topology Seminar, Fall 2022</li>
<li>Adjacencies, Multiplicity, and Fixed-Point Floer Cohomology, Rutgers University: Woodward Research Group, Fall 2022</li>
<li>Local Lagrangian Floer Homology of Quasi-Minimally Degenerate Intersections, Western Hemisphere Virtual Symplectic Seminar, Fall 2021</li>
</ul>

<h2>Talks at Stony Brook University</h2>

<ul>
<li>Symmetric Products and Eilenberg-MacLane Spaces</li>
<li>Survey of Sheaf Theoretic Approaches to Symplectic/Contact Geometry</li>
<li>Oriented Cobordism, Genera, and the Hirzebruch Signature Theorem</li>
<li>Symplectic Cohomology I: Reeb Dynamics and Viterbo Functoriality, SBU Student Symplectic Seminar, Fall 2022</li>
<li>Symplectic Cohomology II: Product Structures, Loop Spaces, and Hochschild Homology, SBU Student Symplectic Seminar, Fall 2022</li>
 <li>Milnor Fibrations, Singularities, and Floer Cohomology, SBU Research Spotlight, Fall 2022</li>
<li>$\langle k \rangle$-Manifolds and Framed Cobordism of Cornered Manifolds, SBU Floer Homotopy Theory Seminar, Spring 2022</li>
<li>Framed Cobordism and Thom Spectra, SBU Floer Homotopy Theory Seminar, Spring 2022</li>
<li>Incarnations of McKay Correspondences: Representations and du Val Singularities, SBU Graduate Student Seminar, Spring 2022</li>
<li>Twisted Complexes and Split-Generation for Fukaya Categories, SBU RTG Seminar on Homological Mirror Symmetry, Fall 2019</li>
<li>Morse Homology, Hamiltonian Floer Theory, and Arnold's Conjecture, SBU Graduate Student Seminar, Fall 2019</li>
<li>The de Rham Groupoid, SBU RTG Seminar on Higgs Bundles, Fall 2018</li>
</ul>

<h2>Talks at Calvin College</h2>

<ul>
<li>An Introduction to Lie Groups, Calvin College Math Colloquium, Spring 2017</li>
<li>Classification of $n$-Connected $2n$-Manifolds Via Homotopy Theory, Calvin College Math Colloquium, Spring 2015</li>
<li>An Overview of Zorn’s Lemma and its Guises, Calvin College Math Colloquium, Spring 2015</li>
<li>The Krein Matrix and an Interlacing Theorem, Calvin College Math Colloquium, Fall 2013</li>
</ul>
  
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
