---
layout: archive
permalink: /year-archive/
title: "Blog Posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

Here are some blog posts; most of it is about mathematics, physics, statistics, or math education/pedagogy.

{% include base_path %}

{% assign current_year = site.time | date: '%Y' %}

<h2 class="archive__subtitle">{{ current_year }}</h2>

{% for post in site.posts %}
  {% assign year = post.date | date: '%Y' %}
  {% if year == current_year %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<p style="margin-top:2em;">
  <a href="{{ base_path }}/year-archive-{{ current_year | minus: 1 }}/">
    View older posts →
  </a>
</p>

<h3>Browse by Year</h3>
<ul>
{% assign years_string = "" %}

{% for post in site.posts %}
  {% assign y = post.date | date: "%Y" %}
  {% unless years_string contains y %}
    {% assign years_string = years_string | append: y | append: "," %}
  {% endunless %}
{% endfor %}

{% assign years = years_string | split: "," | sort | reverse %}

{% for y in years %}
  {% if y != "" %}
    <li>
      <a href="{{ base_path }}/year-archive-{{ y }}/">{{ y }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>
