---
layout: archive
permalink: /year-archive/
title: "Blog Posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

Here are some blog posts; most of it will probably be about mathematics or math education/pedagogy. Much of the math will likely be all over the place, not necessarily from my own field of research. Sometimes, you want a break from your own work, you know? Maybe I'll throw in some other topics from time to time.

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
